/* Notifications.css */

.NotificationItem {
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
  }

.NotificationItem.default {
    color: blue;
}

.NotificationItem.urgent {
    color: red;
}
