html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-right: auto;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-size: calc(10px + 2vmin);
  color: red;
  position: relative;
}

.App-header h1 {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.App-body {
  flex: 1;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  background-color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}


label {
  margin-right: 10px;
}

input[type="email"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button {
  padding: 10px 4g0px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
